In [17]:
df = pd.read_csv('shopping_behavior_updated.csv',encoding='utf-8')

In [19]:
df.head(10)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.9,Yes,Standard,Yes,Yes,14,Venmo,Weekly
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly
7,8,27,Male,Shorts,Clothing,34,Louisiana,L,Charcoal,Winter,3.2,Yes,Free Shipping,Yes,Yes,19,Credit Card,Weekly
8,9,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,2.6,Yes,Express,Yes,Yes,8,Venmo,Annually
9,10,57,Male,Handbag,Accessories,31,Missouri,M,Pink,Spring,4.8,Yes,2-Day Shipping,Yes,Yes,4,Cash,Quarterly

In [28]:
# to display the first 10 rows of the Pandas DataFrame called chipo
df.shape[0]

# To provide a summary of information about the DataFrame chipo. It provides useful information such as data types and number of missing values.
df.info()

# To return the the number of rows and columns of the DataFrame.
df.shape

# To return the number of columns in the dataset
df.shape[1]

# To Print the name of all the columns.
df.columns


# To return the index labels used in the chipo DataFrame
df.index

# To return a two-dimensional NumPy array that contains the data stored in the DataFrame.
df.values

# Get data types of multiple columns
column_data_types = df.dtypes
print(column_data_types)

# Get data type of a single column
column_data_type = df['Category'].dtype
print(column_data_type)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3900 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB
Customer ID                 int64
Age                         int64
Gender                     object
Item Purchased             object
Category                   object
Purchase Amount (USD)       int64
Location                   object
Size                       object
Color                      object
Season                     object
Review Rating             float64
Subscription Status        object
Shipping Type              object
Discount Applied           object
Promo Code Used            object
Previous Purchases          int64
Payment Method             object
Frequency of Purchases     object
dtype: object
object

In [32]:
# chipo is the name of the dataframe
# sort_values sorts the item in ascending order based on the column item_price
df.sort_values("Age")

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
25,26,18,Male,Hoodie,Clothing,25,Texas,M,Silver,Summer,3.6,Yes,Express,Yes,Yes,14,PayPal,Annually
2639,2640,18,Male,Blouse,Clothing,35,New Hampshire,XL,Pink,Winter,2.6,No,Free Shipping,No,No,33,Debit Card,Quarterly
72,73,18,Male,Dress,Clothing,26,Georgia,M,Olive,Winter,2.9,Yes,Store Pickup,Yes,Yes,21,Bank Transfer,Every 3 Months
1591,1592,18,Male,Skirt,Clothing,100,South Dakota,L,Gold,Winter,2.9,No,Next Day Air,Yes,Yes,24,PayPal,Annually
1604,1605,18,Male,Sweater,Clothing,92,Maine,M,White,Summer,4.8,No,2-Day Shipping,Yes,Yes,25,Credit Card,Every 3 Months
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2702,2703,70,Female,Shoes,Footwear,37,Texas,L,Gray,Fall,4.0,No,Next Day Air,No,No,39,Debit Card,Fortnightly
2426,2427,70,Male,Jacket,Outerwear,42,Florida,M,Olive,Fall,4.6,No,Free Shipping,No,No,26,Debit Card,Every 3 Months
2289,2290,70,Male,Shorts,Clothing,82,Nevada,M,Orange,Fall,4.1,No,Free Shipping,No,No,47,Venmo,Weekly
2309,2310,70,Male,Dress,Clothing,95,Connecticut,S,Gold,Fall,5.0,No,2-Day Shipping,No,No,3,Bank Transfer,Quarterly
2557,2558,70,Male,Shorts,Clothing,23,Oklahoma,L,Cyan,Spring,3.9,No,Standard,No,No,17,PayPal,Fortnightly

In [35]:
# Sorting in Descending Order
df.sort_values("Age", ascending=False)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
39,40,70,Male,Pants,Clothing,60,Arizona,S,Turquoise,Summer,4.2,Yes,Express,Yes,Yes,18,Credit Card,Monthly
2778,2779,70,Female,Belt,Accessories,57,Pennsylvania,L,Yellow,Spring,3.2,No,Standard,No,No,24,Credit Card,Bi-Weekly
855,856,70,Male,Socks,Clothing,76,Oregon,L,Gold,Spring,3.0,Yes,2-Day Shipping,Yes,Yes,14,Credit Card,Quarterly
3556,3557,70,Female,Sweater,Clothing,88,Arizona,M,Brown,Fall,4.2,No,Express,No,No,43,Cash,Bi-Weekly
329,330,70,Male,Socks,Clothing,31,Nevada,S,White,Summer,2.9,Yes,2-Day Shipping,Yes,Yes,34,Bank Transfer,Monthly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1221,1222,18,Male,Socks,Clothing,69,Iowa,M,Red,Winter,4.5,No,Standard,Yes,Yes,3,Cash,Quarterly
1418,1419,18,Male,Shirt,Clothing,75,Alabama,M,Violet,Summer,4.1,No,2-Day Shipping,Yes,Yes,23,Venmo,Every 3 Months
2639,2640,18,Male,Blouse,Clothing,35,New Hampshire,XL,Pink,Winter,2.6,No,Free Shipping,No,No,33,Debit Card,Quarterly
2772,2773,18,Female,Backpack,Accessories,94,Pennsylvania,L,Blue,Spring,3.5,No,Store Pickup,No,No,10,Bank Transfer,Every 3 Months
24,25,18,Male,Jacket,Outerwear,22,Florida,M,Green,Fall,2.9,Yes,Store Pickup,Yes,Yes,16,Debit Card,Weekly

In [39]:
# sorting by multiple columns
df.sort_values(["Age", "Gender"])

# sorting by multiple columns : first ascending and then in descending order
df.sort_values(["Size", "Color"], ascending=[True, False])

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
59,60,63,Male,Belt,Accessories,79,Louisiana,L,Yellow,Spring,4.6,Yes,Standard,Yes,Yes,4,Debit Card,Weekly
117,118,50,Male,Sandals,Footwear,32,South Dakota,L,Yellow,Summer,4.6,Yes,Express,Yes,Yes,29,Cash,Fortnightly
140,141,63,Male,Shirt,Clothing,28,North Carolina,L,Yellow,Fall,3.9,Yes,2-Day Shipping,Yes,Yes,50,Credit Card,Weekly
216,217,43,Male,Shorts,Clothing,61,Massachusetts,L,Yellow,Spring,3.7,Yes,Free Shipping,Yes,Yes,21,Venmo,Weekly
239,240,49,Male,Pants,Clothing,51,Vermont,L,Yellow,Summer,2.9,Yes,Express,Yes,Yes,47,Credit Card,Bi-Weekly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3207,3208,67,Female,Socks,Clothing,29,Arizona,XL,Beige,Summer,2.7,No,Next Day Air,No,No,14,PayPal,Annually
3226,3227,57,Female,Sneakers,Footwear,71,Minnesota,XL,Beige,Spring,3.3,No,Next Day Air,No,No,38,Bank Transfer,Fortnightly
3302,3303,36,Female,Blouse,Clothing,82,Alabama,XL,Beige,Winter,4.2,No,Standard,No,No,31,Venmo,Bi-Weekly
3790,3791,27,Female,Handbag,Accessories,45,Alaska,XL,Beige,Summer,4.4,No,Standard,No,No,31,Credit Card,Weekly
3874,3875,70,Female,Sweater,Clothing,54,Nevada,XL,Beige,Summer,3.9,No,2-Day Shipping,No,No,33,Credit Card,Bi-Weekly

In [41]:
# selecting a single column called item_price
subset_df = df["Gender"]
print(subset_df)

# selecting multiple columns
subset_df1 = df[["Size", "Color", "Season"]]
print(subset_df1)

0         Male
1         Male
2         Male
3         Male
4         Male
         ...
3895    Female
3896    Female
3897    Female
3898    Female
3899    Female
Name: Gender, Length: 3900, dtype: object
     Size      Color  Season
0       L       Gray  Winter
1       L     Maroon  Winter
2       S     Maroon  Spring
3       M     Maroon  Spring
4       M  Turquoise  Spring
...   ...        ...     ...
3895    L  Turquoise  Summer
3896    L      White  Spring
3897    L      Green  Spring
3898    S      Brown  Summer
3899    M      Beige  Spring

[3900 rows x 3 columns]

In [45]:
# selecting a single column called item_price
subset_df = df["Color"]
print(subset_df)

# selecting multiple columns
subset_df1 = df[["Category", "Location", "Color"]]
print(subset_df1)

# getting items whose order id is greater than 1000 (make sure the column's data type is integer)
subset_df = df[df['Age'] > 50]
print(subset_df)

# subsetting based on text data
subset_df = df[df['Color'] == "Yellow"]
print(subset_df)

# subsetting with mulitple conditions
subset_df1 = df['Age'] > 50
subset_df2 = df['Color'] == "Yellow"
subset_df3 = df[subset_df1 & subset_df2]
subset_df3.head()

0            Gray
1          Maroon
2          Maroon
3          Maroon
4       Turquoise
          ...
3895    Turquoise
3896        White
3897        Green
3898        Brown
3899        Beige
Name: Color, Length: 3900, dtype: object
         Category       Location      Color
0        Clothing       Kentucky       Gray
1        Clothing          Maine     Maroon
2        Clothing  Massachusetts     Maroon
3        Footwear   Rhode Island     Maroon
4        Clothing         Oregon  Turquoise
...           ...            ...        ...
3895     Clothing       Virginia  Turquoise
3896  Accessories           Iowa      White
3897  Accessories     New Jersey      Green
3898     Footwear      Minnesota      Brown
3899  Accessories     California      Beige

[3900 rows x 3 columns]
      Customer ID  Age  Gender Item Purchased     Category  \
0               1   55    Male         Blouse     Clothing
6               7   63    Male          Shirt     Clothing
9              10   57    Male        Handbag  Accessories
10             11   53    Male          Shoes     Footwear
12             13   61    Male           Coat    Outerwear
...           ...  ...     ...            ...          ...
3881         3882   56  Female          Scarf  Accessories
3889         3890   57  Female          Dress     Clothing
3894         3895   66  Female          Skirt     Clothing
3896         3897   52  Female       Backpack  Accessories
3899         3900   52  Female        Handbag  Accessories

      Purchase Amount (USD)     Location Size   Color  Season  Review Rating  \
0                        53     Kentucky    L    Gray  Winter            3.1
6                        85      Montana    M    Gray    Fall            3.2
9                        31     Missouri    M    Pink  Spring            4.8
10                       34     Arkansas    L  Purple    Fall            4.1
12                       72     Delaware    M    Gold  Winter            4.5
...                     ...          ...  ...     ...     ...            ...
3881                     25      Georgia    L  Silver  Spring            2.8
3889                     65       Alaska    S  Yellow  Spring            3.5
3894                     78  Connecticut    L   White  Spring            3.9
3896                     49         Iowa    L   White  Spring            4.5
3899                     81   California    M   Beige  Spring            3.1

     Subscription Status   Shipping Type Discount Applied Promo Code Used  \
0                    Yes         Express              Yes             Yes
6                    Yes   Free Shipping              Yes             Yes
9                    Yes  2-Day Shipping              Yes             Yes
10                   Yes    Store Pickup              Yes             Yes
12                   Yes         Express              Yes             Yes
...                  ...             ...              ...             ...
3881                  No  2-Day Shipping               No              No
3889                  No         Express               No              No
3894                  No  2-Day Shipping               No              No
3896                  No    Store Pickup               No              No
3899                  No    Store Pickup               No              No

      Previous Purchases Payment Method Frequency of Purchases
0                     14          Venmo            Fortnightly
6                     49           Cash              Quarterly
9                      4           Cash              Quarterly
10                    26  Bank Transfer              Bi-Weekly
12                    37          Venmo            Fortnightly
...                  ...            ...                    ...
3881                  17     Debit Card                 Weekly
3889                  49  Bank Transfer               Annually
3894                  44    Credit Card         Every 3 Months
3896                  41  Bank Transfer              Bi-Weekly
3899                  33          Venmo              Quarterly

[1476 rows x 18 columns]
      Customer ID  Age  Gender Item Purchased     Category  \
59             60   63    Male           Belt  Accessories
117           118   50    Male        Sandals     Footwear
140           141   63    Male          Shirt     Clothing
157           158   36    Male            Hat  Accessories
165           166   42    Male        Handbag  Accessories
...           ...  ...     ...            ...          ...
3780         3781   54  Female       Sneakers     Footwear
3786         3787   31  Female          Boots     Footwear
3857         3858   42  Female            Hat  Accessories
3861         3862   64  Female         Jacket    Outerwear
3889         3890   57  Female          Dress     Clothing

      Purchase Amount (USD)        Location Size   Color  Season  \
59                       79       Louisiana    L  Yellow  Spring
117                      32    South Dakota    L  Yellow  Summer
140                      28  North Carolina    L  Yellow    Fall
157                      68         Vermont    S  Yellow    Fall
165                      60        Kentucky    S  Yellow  Winter
...                     ...             ...  ...     ...     ...
3780                     57     Mississippi    L  Yellow    Fall
3786                     47       Tennessee    L  Yellow    Fall
3857                     21           Texas    S  Yellow  Summer
3861                     57         Wyoming    M  Yellow  Spring
3889                     65          Alaska    S  Yellow  Spring

      Review Rating Subscription Status   Shipping Type Discount Applied  \
59              4.6                 Yes        Standard              Yes
117             4.6                 Yes         Express              Yes
140             3.9                 Yes  2-Day Shipping              Yes
157             3.0                 Yes    Next Day Air              Yes
165             2.8                 Yes    Store Pickup              Yes
...             ...                 ...             ...              ...
3780            4.1                  No   Free Shipping               No
3786            3.6                  No  2-Day Shipping               No
3857            3.1                  No    Store Pickup               No
3861            4.9                  No        Standard               No
3889            3.5                  No         Express               No

     Promo Code Used  Previous Purchases Payment Method Frequency of Purchases
59               Yes                   4     Debit Card                 Weekly
117              Yes                  29           Cash            Fortnightly
140              Yes                  50    Credit Card                 Weekly
157              Yes                   1  Bank Transfer            Fortnightly
165              Yes                   7           Cash                Monthly
...              ...                 ...            ...                    ...
3780              No                  41          Venmo              Quarterly
3786              No                  22          Venmo                 Weekly
3857              No                  29    Credit Card         Every 3 Months
3861              No                  49    Credit Card                Monthly
3889              No                  49  Bank Transfer               Annually

[174 rows x 18 columns]

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
59,60,63,Male,Belt,Accessories,79,Louisiana,L,Yellow,Spring,4.6,Yes,Standard,Yes,Yes,4,Debit Card,Weekly
140,141,63,Male,Shirt,Clothing,28,North Carolina,L,Yellow,Fall,3.9,Yes,2-Day Shipping,Yes,Yes,50,Credit Card,Weekly
203,204,70,Male,Scarf,Accessories,38,Indiana,S,Yellow,Fall,3.2,Yes,Next Day Air,Yes,Yes,18,Bank Transfer,Weekly
271,272,65,Male,Sunglasses,Accessories,69,Maryland,XL,Yellow,Summer,4.6,Yes,Express,Yes,Yes,42,Credit Card,Fortnightly
309,310,66,Male,Dress,Clothing,22,Minnesota,M,Yellow,Spring,4.5,Yes,Standard,Yes,Yes,21,Cash,Fortnightly

In [48]:
# if you check the data type for item_price column it is object and therefore we need to change the data type to float or integer to perform calculations
print(df['Gender'].dtype)

object

In [58]:

# To change the data type of a column in a Pandas DataFrame to an integer type, you can use the .astype() method.
# Since item_price has a  dollar sign, lets remove it and convert to integer
df['Color'] = df['Color'].str.replace('Yellow', 'Red').astype(str)

In [60]:

# Now lets make a new column called total by multiplying 'quantity' and 'item_price'
df['total'] = df['quantity'] * df['item_price']

# lets check if we have the new column total
df.head(20)

KeyError: 'quantity'

In [62]:
# first lets create a function to define the price ranges
def categorize_age(Age):
    if Age < 25:
        return 'Young'
    elif Age < 10:
        return 'Very Young'
    else:
        return 'Old'
# We can use the .apply() method to create a new column 'price_group' based on the 'item_price' column.
df['Age'] = df['Age'].apply(categorize_age)
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,Old,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,Young,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,Old,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,Young,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,Old,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually